@font-face {
   font-family: 'GolosText';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: local('GolosText'),
      url('../fonts/GolosText-Regular.woff') format('woff'),
      url('../fonts/GolosText-Regular.woff2') format('woff2'),
 }

 @font-face {
   font-family: 'GolosText';
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: local('GolosText'),
      url('../fonts/GolosText-Medium.woff') format('woff'),
      url('../fonts/GolosText-Medium.woff2') format('woff2'),
 }

 @font-face {
   font-family: 'GolosText';
   font-style: normal;
   font-weight: 600;
   font-display: swap;
   src: local('GolosText'),
      url('../fonts/GolosText-SemiBold.woff') format('woff'),
      url('../fonts/GolosText-SemiBold.woff2') format('woff2'),
 }

@font-face {
   font-family: 'Merriweather';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: local('Merriweather'),
      url('../fonts/Merriweather-Regular.woff') format('woff'),
      url('../fonts/Merriweather-Regular.woff2') format('woff2')
 }

 @font-face {
   font-family: 'Merriweather';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: local('Merriweather'),
      url('../fonts/Merriweather-Bold.woff') format('woff'),
      url('../fonts/Merriweather-Bold.woff2') format('woff2')
 }