:root {
   --background-color-white: #FFFFFF;
   --color-accent-red: #F54932;
   --color-accent-light: #E9DED4;
   --color-base-text: #313131;
   --color-base-text-opacity: rgba(49, 49, 49, 0.7);
   --color-link: #3057A2;
   --color-dark-btn: #1F1F1F;
   --color-yellow-btn: #FBCE51;
   --color-grey-btn: #D6D6D6;
   --color-grey-table-border: #D0D0D0;
   --color-outline: #65ff36;
   

   --border-radius-btn: 66px;
   --padding-btn-large: 20px 40px;
   --padding-btn-small: 12px;
  
   --text-font-family-base: 'GolosText', Roboto, sans-serif;
   --text-font-family-accent: 'Merriweather', 'Times New Roman', Times, serif;
   --text-body-size: 20px;

   --max-width-content: 1222px;
   --padding-content-inline: 20px;
   --padding-section-big: 210px;
   --padding-section-small: 75px;
}